### Normalize os seguintes valores
### Re-escala [0,1] e padronização N(0,1)

In [29]:
import pandas as pd
import numpy as np

data = {"Valores": [3, 9, 5, 11, 5, 7]}
df = pd.DataFrame(data)
df

   Valores
0        3
1        9
2        5
3       11
4        5
5        7

In [43]:
# Re-escala
min_valores = df.min()
max_valores = df.max()
re_escala = (df - min_valores) // (max_valores-min_valores)
re_escala = re_escala.astype(int)
df["Re-escala"] = re_escala.values
# re_escala.rename(columns={"Valores":"Re-escala"}, inplace=True)
# Padronização
desvio_padrao = df["Valores"].std()
media = df["Valores"].mean()
padronizacao = (df["Valores"] - media) / desvio_padrao
df['Padronizado'] = padronizacao
df

   Valores  Re-escala  Padronizado
0        3          0    -1.245505
1        9          0     0.792594
2        5          0    -0.566139
3       11          1     1.471960
4        5          0    -0.566139
5        7          0     0.113228