## Exercício 18 (MINI BOSS): Análise de Desempenho Escolar
### Você é um cientista de dados contratado por uma escola para analisar o desempenho de três turmas (Turma A, Turma B, Turma C) em duas disciplinas: Matemática e Ciências.
### O objetivo é gerar um relatório completo utilizando as medidas estatísticas estudadas para entender o desempenho geral dos alunos e descobrir padrões importantes.
### Tarefas:
### 1. Carregar o dataset que contém as notas dos alunos das três turmas. O arquivo chama 18_analise_avancada.csv.
### 2. Calcular as seguintes medidas estatísticas para cada turma (A, B e C) em Matemática e Ciências:
### a. Média
### b. Mediana
### c. Moda
### d. Amplitude (diferença entre a maior e a menor nota)
### e. Variância
### f. Desvio Padrão
### g. Covariância e Correlação entre Matemática e Ciências
### Conclusões:
### 1. Com base nas medidas acima, qual turma teve o melhor desempenho geral em Matemática e Ciências?
### 2. Qual turma tem as notas mais consistentes em termos de desvio padrão?
### 3. Existe uma correlação entre o desempenho em Matemática e Ciências para cada turma? Essa correlação é positiva ou negativa?
### 4. Qual turma apresenta a maior amplitude de notas? O que isso nos diz sobre a desigualdade de desempenho dentro da turma?

In [34]:
## Carregando o DataSet das nota dos alunos das tres turmas
import pandas as pd
notas = pd.read_csv("DataSet_18.csv")
notas

   Turma  Matemática  Ciências
0      C          83        96
1      A          47        91
2      C          63        52
3      C          50        80
4      A          90        42
..   ...         ...       ...
95     A          78        79
96     A          72        78
97     C          40        57
98     A          96        79
99     A          66        40

[100 rows x 3 columns]

In [35]:
turma_A = notas[notas["Turma"] == "A"]
turma_B = notas[notas["Turma"] == "B"]
turma_C = notas[notas["Turma"] == "C"]

# Media das Turmas
media_A = turma_A[["Matemática", "Ciências"]].mean()
media_A

Matemática    69.515152
Ciências      70.393939
dtype: float64

In [36]:
media_B = turma_B[["Matemática", "Ciências"]].mean()
media_B

Matemática    70.888889
Ciências      71.555556
dtype: float64

In [37]:
media_C = turma_C[["Matemática", "Ciências"]].mean()
media_C

Matemática    68.741935
Ciências      67.580645
dtype: float64

In [38]:
# Mediana das Turmas
mediana_A = turma_A[["Matemática", "Ciências"]].median()
media_A

Matemática    69.515152
Ciências      70.393939
dtype: float64

In [39]:
mediana_B = turma_B[["Matemática", "Ciências"]].median()
media_B

Matemática    70.888889
Ciências      71.555556
dtype: float64

In [40]:
mediana_C = turma_C[["Matemática", "Ciências"]].median()
media_C

Matemática    68.741935
Ciências      67.580645
dtype: float64

In [41]:
moda_A = turma_A[["Matemática", "Ciências"]].mode()
moda_A

   Matemática  Ciências
0        94.0        71
1         NaN        88

In [42]:
moda_B = turma_B[["Matemática", "Ciências"]].mode()
moda_B

   Matemática  Ciências
0          54      58.0
1          74       NaN

In [43]:
moda_C = turma_C[["Matemática", "Ciências"]].mode()
moda_C

   Matemática  Ciências
0        78.0        42
1        83.0        45
2         NaN        50
3         NaN        71
4         NaN        80
5         NaN        94

In [45]:
# Amplitude de cada uma das turmas
amplitude_A = turma_A[["Matemática", "Ciências"]].max() - turma_A[["Matemática", "Ciências"]].min()
amplitude_A

Matemática    57
Ciências      58
dtype: int64

In [46]:
amplitude_B = turma_B[["Matemática", "Ciências"]].max() - turma_B[["Matemática", "Ciências"]].min()
amplitude_B

Matemática    53
Ciências      58
dtype: int64

In [47]:
amplitude_C = turma_C[["Matemática", "Ciências"]].max() - turma_B[["Matemática", "Ciências"]].min()
amplitude_C

Matemática    54
Ciências      57
dtype: int64

In [48]:
# Variancia das Turmas
variancia_A = turma_A[["Matemática", "Ciências"]].var()
variancia_A

Matemática    325.570076
Ciências      345.996212
dtype: float64

In [49]:
variancia_B = turma_B[["Matemática", "Ciências"]].var()
variancia_B

Matemática    234.101587
Ciências      374.311111
dtype: float64

In [50]:
variancia_C = turma_C[["Matemática", "Ciências"]].var()
variancia_C

Matemática    307.997849
Ciências      347.318280
dtype: float64

In [53]:
# Desvio Padrao
desvioPadrao_A = turma_A[["Matemática", "Ciências"]].std()
desvioPadrao_A

Matemática    18.043561
Ciências      18.600973
dtype: float64

In [54]:
desvioPadrao_B = turma_B[["Matemática", "Ciências"]].std()
desvioPadrao_B

Matemática    15.300379
Ciências      19.347122
dtype: float64

In [55]:
desvioPadrao_C = turma_C[["Matemática", "Ciências"]].std()
desvioPadrao_C

Matemática    17.549868
Ciências      18.636477
dtype: float64

In [59]:
# Covariancia das Turmas
covariancia_A = turma_A[["Matemática", "Ciências"]].cov()
covariancia_A

            Matemática    Ciências
Matemática  325.570076  -68.646780
Ciências    -68.646780  345.996212

In [60]:
covariancia_B = turma_B[["Matemática", "Ciências"]].cov()
covariancia_B

            Matemática    Ciências
Matemática  234.101587  -25.165079
Ciências    -25.165079  374.311111

In [61]:
covariancia_C = turma_C[["Matemática", "Ciências"]].cov()
covariancia_C

            Matemática    Ciências
Matemática  307.997849   77.054839
Ciências     77.054839  347.318280

In [63]:
# Correlacao das Turmas
correlacao_A = turma_A[["Matemática", "Ciências"]].corr()
correlacao_A

            Matemática  Ciências
Matemática    1.000000 -0.204532
Ciências     -0.204532  1.000000

In [64]:
correlacao_B = turma_B[["Matemática", "Ciências"]].corr()
correlacao_B

            Matemática  Ciências
Matemática    1.000000 -0.085012
Ciências     -0.085012  1.000000

In [65]:
correlacao_C = turma_C[["Matemática", "Ciências"]].corr()
correlacao_C

            Matemática  Ciências
Matemática    1.000000  0.235593
Ciências      0.235593  1.000000

In [ ]:
op = df.groupby(['Turma']).mean()
op