# Exercicio 7

### Crie uam lista com 5 nomes de filmes que você goste.

In [4]:
import numpy as np

In [5]:
nomes_de_filmes = np.array([
    "Rei Leão",
    "Até o ultimo homem",
    "Homem de Ferro",
    "Esqueceram de Mim",
    "Kung fu panda "
])

### Crie uma 2a lista com o ano de lançamento desses 5 filmes

In [6]:
ano_de_lancamento = np.array([
    1994,
    2016,
    2008,
    1990,
    2008
])

### Transforme os dois arrays em um dataframe.

In [7]:
import pandas as pd

In [8]:
meu_dataframe_filmes = pd.DataFrame({
    
    "Meus_Filmes_Favoritos": nomes_de_filmes,
    "Ano_de_lançamento": ano_de_lancamento
})

meu_dataframe_filmes

  Meus_Filmes_Favoritos  Ano_de_lançamento
0              Rei Leão               1994
1    Até o ultimo homem               2016
2        Homem de Ferro               2008
3     Esqueceram de Mim               1990
4        Kung fu panda                2008

### Adicione uma nova nova coluna com nota, de 1 a 10, de quanto você gosta deles.

In [9]:
notas_filmes =([
    10,
    9,
    9,
    8,
    10
])

In [16]:
meu_dataframe_filmes ["Nota_de_quanto_gosto"] = notas_filmes
meu_dataframe_filmes

  Meus_Filmes_Favoritos  Ano_de_lançamento  Nota_de_quanto_gosto
0              Rei Leão               1994                    10
1    Até o ultimo homem               2016                     9
2        Homem de Ferro               2008                     9
3     Esqueceram de Mim               1990                     8
4        Kung fu panda                2008                    10

## Crie mais 2 dataframes, de series e anime/desenhos que você gosta, com as mesmas colunas acima.

In [11]:
meu_dataframe_animes = pd.DataFrame ({
    
    "Meus_animes_favoritos":["Demons Slayer", "Attack on Titan", "Overlord", "Dragon Ball", "Sword Art Online"],
    "Ano_de_lançamento":[2019, 2013, 2015, 1986, 2012],
    "Nota_de_quanto_gosto":[10, 8, 10, 10, 9]
})

meu_dataframe_animes

  Meus_animes_favoritos  Ano_de_lançamento  Nota_de_quanto_gosto
0         Demons Slayer               2019                    10
1       Attack on Titan               2013                     8
2              Overlord               2015                    10
3           Dragon Ball               1986                    10
4      Sword Art Online               2012                     9

In [12]:
meu_dataframe_desenhos = pd.DataFrame({

    "Meus_desenhos_favoritos":["Hora de Aventura", "Bakugan", "Bem 10", "Apenas um Show", "Bob Esponja Calça Quadrada"],
    "An_de_lançamento":[2010, 2007, 2005, 2010, 1999],
    "Nota_de_quanto_gosto":[10, 10, 8, 10, 8]
})

meu_dataframe_desenhos

      Meus_desenhos_favoritos  An_de_lançamento  Nota_de_quanto_gosto
0            Hora de Aventura              2010                    10
1                     Bakugan              2007                    10
2                      Bem 10              2005                     8
3              Apenas um Show              2010                    10
4  Bob Esponja Calça Quadrada              1999                     8

## Salve os 3 dataframe em 'csv', 'json' e 'html' e nos envie os arquivos.

In [17]:
meu_dataframe_animes.to_html("meu_dataframe_animes_html")
meu_dataframe_animes.to_csv("meu_dataframe_animes.csv")
meu_dataframe_desenhos.to_csv("meu_dataframe_desenhos.csv")
meu_dataframe_desenhos.to_json("meu_dataframe_desenhos.json")
meu_dataframe_filmes.to_json("meu_dataframe_filmes.json")