## Exercício 17
### Você é um professor que deseja analisar as notas de dois grupos de alunos em um teste de matemática. Carregue o dataset chamado 17_notas_grupos.csv (ver nos recursos da aula no Discord), que contém duas colunas: Grupo_A e Grupo_B, representando as notas dos alunos.
### Calcule e compare:
### 1. a média das notas de ambos os grupos
### 2. a mediana das notas de ambos os grupos
### 3. o desvio padrão das notas de ambos os grupos..
### Não se esqueça de imprimir os resultados comparando as duas turmas para cada resultado obtido, mas garanta que está em uma forma amigável e fácil de entender.

In [2]:
import pandas as pd
dataSet_17 = pd.read_csv("../DataSet_17.csv")
dataSet_17

    Grupo_A  Grupo_B
0        51       23
1        92       25
2        14       88
3        71       59
4        60       40
..      ...      ...
95       39        0
96       84       26
97       79       61
98       81       76
99       52        2

[100 rows x 2 columns]

In [3]:
## Media do Grupo_A
media_ga_dataSet = dataSet_17["Grupo_A"].mean()
media_ga_dataSet

np.float64(51.31)

In [4]:
## Media do Grupo B
media_gb_dataSet = dataSet_17["Grupo_B"].mean()
media_gb_dataSet

np.float64(48.05)

In [5]:
## Mediana do Grupo A
mediana_ga_dataSet = dataSet_17["Grupo_A"].median()
mediana_ga_dataSet

np.float64(53.5)

In [6]:
## Mediana do Grupo B
mediana_gb_dataSet= dataSet_17["Grupo_B"].median()
mediana_gb_dataSet

np.float64(43.5)

In [7]:
## Desvio padrao do Grupo A
desvio_padrao_ga_dataset = dataSet_17["Grupo_A"].std()
desvio_padrao_ga_dataset

np.float64(29.704162548829295)

In [8]:
## Desvio padrao do Grupo B
desvio_padrao_gb_dataset = dataSet_17["Grupo_B"].std()
desvio_padrao_gb_dataset

np.float64(30.74278267933283)

In [9]:
## Imprimindo Resultados
print("Análise das Notas dos Grupos:")
print(f"Média das notas - Grupo A: {media_ga_dataSet:.2f} | Grupo B: {media_gb_dataSet:.2f}")
print(f"Mediana das notas - Grupo A: {mediana_ga_dataSet:.2f} | Grupo B: {mediana_gb_dataSet:.2f}")
print(f"Desvio Padrão das notas - Grupo A: {desvio_padrao_ga_dataset:.2f} | Grupo B: {desvio_padrao_gb_dataset:.2f}")

Análise das Notas dos Grupos:
Média das notas - Grupo A: 51.31 | Grupo B: 48.05
Mediana das notas - Grupo A: 53.50 | Grupo B: 43.50
Desvio Padrão das notas - Grupo A: 29.70 | Grupo B: 30.74