## Exercício 16
### Considere o dataset 16_dataset_notas_alunos.csv (ver nos recursos da aula no Discord). Então, extraia as seguintes informações:
### 1. Calcule a média das notas em Matemática e Ciências.
### 2. Encontre a mediana das notas em Matemática e Ciências.
### 3. Determine a moda das notas em Matemática e Ciências.
### 4. Calcule a amplitude das notas em Matemática e Ciências.
### 5. Calcule a variância das notas em Matemática e Ciências.
### 6. Calcule o desvio padrão das notas em Matemática e Ciências.
### 7. Calcule a covariância entre as notas de Matemática e Ciências. 
### 8. Calcule a correlação entre as notas de Matemática e Ciências.

In [2]:
import pandas as pd
dataSet16 = pd.read_csv("../DataSet_16.csv")
dataSet16

    Aluno  Idade  Matemática  Ciências
0       1     17          67        60
1       2     15          83        78
2       3     17          70        61
3       4     17          76        85
4       5     15          67        91
..    ...    ...         ...       ...
95     96     15          87        71
96     97     15          82        81
97     98     17          96        81
98     99     15          91        89
99    100     15          92        97

[100 rows x 4 columns]

In [3]:
## Media das notas Matematicas e Ciencias
mediaDataSet = dataSet16[["Matemática", "Ciências"]].mean()
mediaDataSet

Matemática    81.57
Ciências      80.26
dtype: float64

In [4]:
## Mediana das notas Matematica e Ciencias
medianaDataSet = dataSet16[["Matemática", "Ciências"]].median()
medianaDataSet

Matemática    84.5
Ciências      79.5
dtype: float64

In [5]:
## Moda das notas Matematica e Ciencias
modaDataSet = dataSet16[["Matemática", "Ciências"]].mode()
modaDataSet

   Matemática  Ciências
0          98        92

In [6]:
## Amplitude das notas Matematica
amplitude_coluna_matematica = dataSet16["Matemática"].max() - dataSet16["Matemática"].min()
amplitude_coluna_matematica

np.int64(40)

In [7]:
## Amplitude da coluna Ciencias
amplitude_coluna_ciencias = dataSet16["Ciências"].max() - dataSet16["Ciências"].min()
amplitude_coluna_ciencias

np.int64(40)

In [8]:
## Variancia das colunas
variancia_dataSet = dataSet16[["Matemática", "Ciências"]].var()
variancia_dataSet

Matemática    160.752626
Ciências      150.153939
dtype: float64

In [9]:
## Covariancia entre Matematica e Ciencias
covariancia = dataSet16[["Matemática", "Ciências"]].cov
covariancia

<bound method DataFrame.cov of     Matemática  Ciências
0           67        60
1           83        78
2           70        61
3           76        85
4           67        91
..         ...       ...
95          87        71
96          82        81
97          96        81
98          91        89
99          92        97

[100 rows x 2 columns]>

In [11]:
## Calculando correlacao das colunas matematicas e Ciencias
correlacao_dataSet = dataSet16[["Matemática", "Ciências"]].corr()
correlacao_dataSet

            Matemática  Ciências
Matemática    1.000000  0.058786
Ciências      0.058786  1.000000