### Normalize o atributo Rendimentos utilizando Re-escala [0,1].

In [3]:
import pandas as pd
df = pd.DataFrame({
    "Idade":[37, 46, 62, 31, 61, 50, 54, 27, 22, 56], 
    "Casado":["SIM","NAO","SIM","SIM", "SIM","SIM", "NAO", "NAO","NAO","SIM"],
    "Filhos":[2,0,0,1,3,2,0,0,0,3], 
    "Financiamento":["NAO","SIM","NAO","SIM","SIM","NAO","SIM","NAO","NAO","SIM"], 
    "Rendimentos":[17729.80,41016.00,26909.20,22522.80,57880.70,16497.30,38446.60,15538.80,12640.30,41034.00],
    "Sexo":["M","F","M","M","F","F","M","M","M","F"]
})

df

   Idade Casado  Filhos Financiamento  Rendimentos Sexo
0     37    SIM       2           NAO      17729.8    M
1     46    NAO       0           SIM      41016.0    F
2     62    SIM       0           NAO      26909.2    M
3     31    SIM       1           SIM      22522.8    M
4     61    SIM       3           SIM      57880.7    F
5     50    SIM       2           NAO      16497.3    F
6     54    NAO       0           SIM      38446.6    M
7     27    NAO       0           NAO      15538.8    M
8     22    NAO       0           NAO      12640.3    M
9     56    SIM       3           SIM      41034.0    F

In [12]:
rendimentos = df["Rendimentos"]
min_rendimentos = df["Rendimentos"].min()
max_rendimentos = df["Rendimentos"].max()
re_escalar_rendimentos = (rendimentos - min_rendimentos) // (max_rendimentos - min_rendimentos)
re_escalar_rendimentos

0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: Rendimentos, dtype: float64

In [ ]:
# MinMaxScaler